<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
        <!-- Bootstrap -->
    
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">
   
  

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row row-content" ng-controller="MenuController">
        <button ng-click="toggleDetails()" class="btn btn-xs btn-primary pull-right" type="button">
        {{showDetails ? 'Hide Details':'Show Details'}}
        </button>  
                        
            <div class="col-xs-12">
                <div class="tab-content">
               <ul class="media-list tab-pane fade in active">
               <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"
                     ng-class="{active:isSelected(1)}">
                    <a ng-click="select(1)"
                     aria-controls="The degree"
                     role="tab">The Degree</a></li>
                    <li role="presentation"
                     ng-class="{active:isSelected(2)}">
                    <a ng-click="select(2)"
                     aria-controls="Core"
                     role="tab">Core</a></li>
                    <li role="presentation"
                     ng-class="{active:isSelected(3)}">
                    <a ng-click="select(3)"
                     aria-controls="CyberDefense Concentration"
                     role="tab">CyberDefense Concentration</a></li>
                    <li role="presentation"
                     ng-class="{active:isSelected(4)}">
                    <a ng-click="select(4)"
                     aria-controls="Programming Concentration"
                     role="tab">Programming Concentration</a></li>
                   <li role="presentation"
                     ng-class="{active:isSelected(5)}">
                    <a  ng-click="select(5)"
                     aria-controls="Elective"
                     role="tab">Electives</a></li>
                </ul>
                    </ul>
                </div>
               <ul class="media-list">
                   <li class="media" ng-repeat="course in courses | filter:filtText">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         ng-src={{course.image}} alt="htmlcss_tn">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{course.name}}
                         <span class="label label-danger">{{course.label}}</span>
                         <span class="badge">{{course.certification}}</span></h2>
                        <p ng-show="showDetails">{{course.description}}</p>
                    
                    </div>
                </li>
                </ul>
            </div>

            </div>

            </div>
   
<script src="../bower_components/angular/angular.min.js"></script>
<script src="scripts/app_prog_cyber.js"></script>

</body>
</html>